/*global styles */
.section {
    padding-top: 4rem;
}

body {
    background-color: aqua;
}

header {
    background-color: brown;
}
 main {
    background-color: antiquewhite;
 }

 footer {
    background-color: blueviolet;
 }