/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/*CSS Variables*/
:root {
    --primary-color: #adcdcb; /*lightblue*/
    --primary-font: 'dosis', sans-serif; 
    --secondary-font: 'nunito', sans-serif;
}

/*global styles */
.section {
    padding-top: 4rem;
}
/*navbar*/
nav {
    background-color: var(--primary-color);
}

/*header*/
h1, h2, h3 {
    font-family: var(--secondary-font);
}
#affirmation-carousel {
   position: relative;
   padding-inline-start: 20%;
   padding-inline-end: 20%;
}
.number1 {
   border: solid 3px #f7c815;
}
.number2 {
   border: solid 3px #f88379;
}
.number3 {
   border: solid 3px #adcdcb;
}

/*hero*/
#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/teens-laughing-hero.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    font-size: 100%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    text-align: end;
    padding-top: 40px;
    min-height: 200px;
    color: #ffffff;
    background-color: rgba(173, 202, 203, 0.5);

}

/*main*/
body {
    font-family: var(--primary-font);
}

#who-we-are {
   background-color: rgba(202, 50, 37, 0.5);
   border: solid 2px #f88379;
}

#how-we-help {
   background-color: rgba(240, 225, 0, 0.5);
   border: solid 2px #f7c815;
   border-radius: 5;
}

p span {
   color: #f88379;
}
/*Button styles*/
.btn-custom-outline {
    color:#f88379;
    border: solid 3px #f88379 /*coral pink*/
}

.btn-custom-outline:hover {
   color:#adcdcb;
   border: solid 3px #adcdcb /*coral pink*/
}

.contact-btn {
   background-color:#ffffff;
}

.contact-btn:hover {
   background-color:#f88379;
}
/*footer*/
 #contact {
    background-color: var(--primary-color);
    padding-bottom: 3rem;
 }

 #contact i {
    font-size: 1.2rem;
    margin-right: 14px;
 }

 #contact .social-media i {
    font-size: 1.8rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
 }

 #contact .facebook {
    color: #00008b;
 }
 #contact .twitter {
    color: #000000;
 }
 #contact .instagram {
    color: #ff3b3f;
 }
 #contact .tiktok {
    color: #000000;
 }

 #contact .facebook:hover {
    color: #124ca2;
 }
 #contact .twitter:hover {
    color: #363737;
 }
 #contact .instagram:hover {
    color: #f7882f;
 }
 #contact .tiktok:hover {
    color: #363737;
 }
